<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sky_take_out.setmeal_dish (setmeal_id, dish_id, name, price, copies) VALUES
        <foreach collection="setmealDishes" separator="," item="setmeal">
            (#{setmeal.setmealId},#{setmeal.dishId},#{setmeal.name},#{setmeal.price},#{setmeal.copies})
        </foreach>
    </insert>
    <select id="setMealId" resultType="long">
        select setmeal_id from sky_take_out.setmeal_dish where dish_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{ids}
        </foreach>
    </select>


</mapper>
